<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272148621093-81eisinrmcia6sntu65hfv7g9dgn5et1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272148621093-81eisinrmcia6sntu65hfv7g9dgn5et1</string>
	<key>API_KEY</key>
	<string>AIzaSyAjDK91v16je_xBFULO6BCvTEBHzt0bpmw</string>
	<key>GCM_SENDER_ID</key>
	<string>272148621093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smileFront</string>
	<key>PROJECT_ID</key>
	<string>smile-front</string>
	<key>STORAGE_BUCKET</key>
	<string>smile-front.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272148621093:ios:d89e995dbde309a9e95ccc</string>
</dict>
</plist>